.header {
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navLinks {
  height: 4rem;
  width: 20%;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  color: var(--dark-brown);
}

.active {
  background-color: var(--light-brown);
  color: var(--ultra-light-brown);
}
