:root {
  --ultra-light-brown: #fff8f0;
  --light-brown: #c08552;
  --brown: #8c5a3c;
  --dark-brown: #4b2e2b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--dark-brown);
}

html {
  font-size: 16px;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}
